.header {
   width: 100vw;
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color:  rgb(74, 98, 186);
}

.header h2{
   margin-block-start: 10px;
   margin-block-end: 10px;
   margin-left: 50px;
   margin-right: 50px;
}

.header :nth-child(4){
   margin-left: auto;
}

.link {
   margin: 0 10px 0 10px;
}
