.header {
   width: 100vw;
   display: flex;
   flex-direction: row;
   align-items: center;
   border-bottom: 1px solid #f9f9f9;
}

.header h2{
   margin-block-start: 10px;
   margin-block-end: 10px;
   margin-left: 50px;
   margin-right: 50px;
}

.link {
   margin: 0 10px 0 10px;
}
