.formContainer{
   background-color: #2e3373;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   height: fit-content;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 5px;
   margin: 10px;
}

.formContainer input{
   background-color: rgb(74, 98, 186);
   border: none;
   border-radius: 0%;
   height: 40px;
   width: 300PX;
}

.formContainer h3{
   color:aliceblue;
}
